@model WeldingExpert.Models.CreateUserOkModel
@using WeldingExpert.Common;         
@{
  Layout = "~/Views/User/_Layout.cshtml";
}

<p>创建用户成功</p>

<table>
    <tr>
        <th>
            用户名
        </th>
        <th>
            用户角色
        </th>
        <th>
            真实姓名
        </th>
        <th>
            工号
        </th>
    </tr>

    <tr>
      <td>
          @Html.DisplayFor(item => item.UserName)
      </td>
      <td>
          @Html.DisplayFor(item => item.Role.ToUserRole().Name)
      </td>
      <td>
          @Html.DisplayFor(item => item.RealName)
      </td>
      <td>
          @Html.DisplayFor(item => item.WorkerID)
      </td>
  </tr>
</table>
