* 
{
	margin:0;
	padding:0;
}

body 
{
	font-size:14px;
	color:#444;
	font-family:"微软雅黑",Arial;
	background:#fff;
	text-align:center;
}

a
{
	color:#444;
	text-decoration: none;
}

a:hover
{
	color:#065BC2;
	text-decoration: none;
}

.clear
{
	clear:both;
}
img
{
	border:none;
	vertical-align: middle;
}

ul
{
	list-style: none;
}

.lightBoxMask
{
	width:100%;
	height:100%;
	background:#000;
	z-index:100000;
	position:absolute;
	top:0;
	left:0;
	cursor: pointer;
}

.lightBox
{
	padding:10px;
	padding-bottom:35px;
	background:#fff;
	position:absolute;
	top:100px;
	left:100px;
	overflow:hidden;
	z-index:100001;
}

.lightBoxContainer
{
	overflow:hidden;
}

.lightBoxClose
{
	margin-top:5px;
	padding:5px;
	text-align:right;
	font-size:14px;
	color:#555;
	cursor:pointer;
}

.test
{
	margin:15px;
	float:left;
}

.test a
{
	display:inline-block;
	padding:10px;
	border:1px solid #ddd;
}

#loginmsg
{
    text-align:right;
}

ul#mainmenu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#mainmenu li
{
    display: inline;
    list-style: none;
    cursor: pointer;
    color: blue;
}

ul#mainmenu li:hover
{
    display: inline;
    list-style: none;
    cursor: pointer;
    color: red;
}

ul#menu
{
    border-bottom: 3px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#option
{
    list-style: none;
}

a:link
{
    color: blue;
    text-decoration: none;
}
a:visited
{
    color: blue;
}
a:hover
{
    color: red;
    text-decoration: none;
}

table
{
    border: 1px solid red;
}

th
{
    border: 1px solid red;
}

tr
{
    border: 1px solid red;
}

td
{
    border: 1px solid red;
}
    


