
    <div>
        About
    <div id="iddelay">
        @Ajax.ActionLink("查看图片", "ShowPic", new AjaxOptions() { UpdateTargetId = "boxcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete="showbox" })
    </div>
    </div>
