@using WeldingExpertSystem.Models;

@{
    
    HttpContext contex = HttpContext.Current;
    string usrname = contex.Session["usr-name"] as string;
    var usrrole = contex.Session["usr-role"];
    if (usrname != null && usrrole != null && usrname.Trim() != "")
    {
      UserRole role = (UserRole)(int)usrrole;
        <h4 id="loginmsg">欢迎 <strong> @role.ToString()  @usrname</strong>!
        [ @Html.ActionLink("注销", "LogOff", "Home") ]</h4>
    }
    else
    {
        <h4 id="loginmsg">请 @Html.ActionLink("登录", "Index", "Home")</h4>
    }
}

    